{% extends "layout.html" %}
{% block body %}

<h1 class="text-center">Ajouter Etudiant</h1>
<form class="ajoutForm" method="POST" action="/AjouterEtudiant">
    <div class="row">
        <div class="col">
          <input type="text" class="form-control mb-3" placeholder="CIN" name="cin">
        </div>
        <div class="col">
          <input type="text" class="form-control mb-3" placeholder="Nom" name="nom">
        </div>
        <div class="col">
          <input type="text" class="form-control mb-3" placeholder="Prenom" name="prenom">
        </div>
      </div>
    <div class="row">
        <div class="col">
          <input type="text" class="form-control mb-3" placeholder="Login" name="login">
        </div>
        <div class="col">
          <input type="text" class="form-control mb-3" placeholder="Password" name="password">
        </div>
        <div class="col">
          <input type="text" class="form-control mb-3" placeholder="Age" name="age">
        </div>
      </div>
    <div class="row">
        <div class="col">
          <input type="text" class="form-control mb-3" placeholder="Niveau" name="niveau">
        </div>
        <div class="col">
          <input type="text" class="form-control mb-3" placeholder="Filiere" name="filiere">
        </div>
        <div class="col">
          <input type="text" class="form-control mb-3" placeholder="Groupe" name="groupe">
        </div>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <style>

  </style>
{% endblock %}